// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Open Sans',sans-serif;} // font header
.fi {font-family: 'faber-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000;
@c2: #026937;
@c3: #e4ebe8;
@c4: #9d0000;
@cp: @c1; // color primary
@cl: @c2; // color link
@cc1: #9aa45c;
@cc2: #779d8d;
@cc3: #8298a2;
@cc4: #8298a2;
@cc5: #3ca8a2;
@cc6: #40acd5;
@cc7: #74a66d;
@cc8: #8298a2;
@cc9: @c2;
@cc10: @c2;
@cc11: @c2;
@cc12: @c2;
@cc13: @c2;
@cc14: @c2;
@cc15: @c2;


// font sizes
@fsp: 18px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1170px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 25px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1580px)";
@md: ~"(min-width: 1180px) and (max-width: 1579px)";
@sm: ~"(min-width: 800px) and (max-width: 1179px)";
@xs: ~"(max-width: 799px)";