.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
	@media @xs {
		left: 3%!important;
		width: 94%!important;
	}
}

.fancybox-skin {
	position: relative;
	background: #fff;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	@media @xs {
		height: auto!important;
		width: 100%!important;
	}
}

.fancybox-type-ifra.fancybox-title-inside-wrapme .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	padding: 25px;
	margin: 0;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
	width: 80px;
	height: 80px;
	line-height: 76px;
	padding: 0 0 0 1px;
	font-size: 60px;
	color: #fff;
	text-shadow: 0 0 12px #000;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	&:before{
		.fi;
		content: '\e822';
	}
}


.fancybox-close {
	position: fixed;
	top: 10px;
	right: 30px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 36px;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	z-index: 8040;
	&:before{
		.fi;
		content: '\e812';
	}
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 12px #000;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	height: 90px;
	font-size: 90px;
	line-height: 90px;
	margin-top: -45px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 0;
	&:before{
		.fi;
		content: '\e816';
	}
}

.fancybox-next span {
	right: 0;
	&:before{
		.fi;
		content: '\e815';
	}
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: fade(#000,50%);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	position: relative;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-inside-wrap {
	text-align: left;
	padding: 25px 40px;
	@media @xs {
		padding: 10px;
	}
	.title {
		display: inline-block;
		margin: 0 -4px 0 0;
		padding: 0 20px 0 0;
		width: 32%;
		vertical-align: top;
		@media @xs {
			padding: 0;
			width: auto;
			display: block;
			margin: 0 0 10px;
		}
		h2 {
			text-transform: uppercase;
			margin: 0;
			font-size: 24px;
			small {
				position: relative;
				display: inline-block;
				font-size: 18px;
				letter-spacing: 0.07em;
				padding: 0 0 23px;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					right: 15%;
					height: 8px;
					background: darken(@c3,20%);
				}
			}
		}
	}
	.content {
		display: inline-block;
		margin: 0 -4px 0 0;
		padding: 0 20px 0 0;
		width: 40%;
		vertical-align: top;
		font-size: 13px;
		line-height: 1.6;
		@media @xs {
			padding: 0;
			width: auto;
			display: block;
			margin: 0;
		}
	}
	nav {
		display: inline-block;
		margin: 4px -4px 0 0;
		width: 28%;
		vertical-align: top;
		@media @xs {
			width: auto;
			display: block;
			margin: 0;
		}
		a {
			.transition(0.2s);
			position: relative;
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.1em;
			padding: 10px 10px 15px 75px;
			border: 4px solid @c1;
			text-decoration: none;
			color: @c1;
			@media @xs {
				letter-spacing: 0;
				padding-left: 10px;
				text-align: center;
				&:before{
					display: none;
				}
			}
			&:hover{
				color: #fff;
				background: @c1;
			}
			&:before{
				.fi;
				content: '\e809';
				position: absolute;
				top: 50%;
				left: 0;
				width: 75px;
				height: 40px;
				line-height: 40px;
				margin: -20px 0 0;
				font-size: 48px;
				text-align: center;
			}
		}
	}
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}