.pager {
	span {
		.border-radius(50%);
		.box-shadow(1px 1px 0 #fff);
		display: inline-block;
		width: 14px;
		height: 14px;
		text-indent: -9999px;
		margin: 0 3px;
		background: @c1;
		cursor: pointer;
		&.cycle-pager-active {
			.box-shadow(1px 1px 0 @c1);
			background: #fff;
		}
	}
}
#page-header {
	position: relative;
	z-index: 999;
	background: @c2;
	.homepage & {
		position: absolute;
		left: 0;
		right: 0;
		padding-top: 48px;
		background: fade(@c1,50%);
		@media @md {
			padding-top: 0;
		}
		@media @sm, @xs {
			position: relative;
			padding-top: 0;
			background: @c2;
		}
	}
	.logo {
		float: left;
		width: 25.5%;
		@media @sm {
			float: none;
			width: auto;
			margin: 0 25%;
		}
		@media @xs {
			float: none;
			width: auto;
			margin: 0 -25px 25px;
		}
		.homepage & {
			width: 28.5%;
			margin-top: -13px;
			@media @md, @sm, @xs {
				width: 25.5%;
				margin-top: 0;
			}
			@media @sm {
				width: auto;
				margin: 0 25%;
			}
			@media @xs {
				float: none;
				width: auto;
				margin: 0 -25px 25px;
			}
		}
		a {
			position: relative;
			display: block;
			padding: 36px 40px 28px;
			text-decoration: none;
			background: #fff;
			@media @md, @sm, @xs {
				padding: 36px 40px 27px;
			}
			@media @xs {
				padding: 25px;
				max-width: 400px;
				margin: auto;
			}
			.homepage & {
				padding: 40px 45px 32px;
				@media @md, @sm, @xs {
					padding: 36px 40px 27px;
				}
				@media @xs {
					padding: 25px;
					max-width: 400px;
					margin: auto;
				}
			}
			img {
				display: block;
				margin: auto;
			}
			span {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				text-align: center;
				color: #fff;
				padding: 20px 20px 20px 24px;
				font-size: 14px;
				line-height: 1.2;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				background: @c2;
				.homepage & {
					display: block;
					@media @sm, @xs {
						display: none;
					}
				}
			}
		}
	}
}
#col-left {
	float: left;
	width: 245px;
	margin: 0 0 50px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-main {
	float: right;
	width: 835px;
	margin: 0 0 50px;
	@media @md {
		width: 640px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
.mod_search {
	position: relative;
	z-index: 1;
	float: right;
	margin: 35px 0 35px 50px;
	@media @md {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	@media @sm, @xs {
		float: none;
		margin: 0;
	}
	.toggle {
		display: block;
		font-size: 0;
		line-height: 1;
		color: #fff;
		text-align: right;
		cursor: pointer;
		@media @sm, @xs {
			display: none;
		}
		&:hover{
			color: fade(#fff,50%);
		}
		&:before{
			.fi;
			content: '\e80e';
			font-size: 35px;
		}
	}
	form {
		display: none;
		position: absolute;
		width: 300px;
		top: 100%;
		right: 0;
		padding: 20px;
		background: fade(@c1,50%);
		@media @sm, @xs {
			position: static;
			display: block;
			width: auto;
			margin: 0 25%;
		}
		@media @xs {
			margin: 0;
		}
		.mod_search-on & {
			display: block;
		}
		input {
			float: left;
			border: 0;
			font-size: 14px;
			margin: 0 -40px 0 0;
		}
		button {
			position: relative;
			z-index: 1;
			font-size: 0;
			padding: 0;
			width: 40px;
			&:before{
				.fi;
				font-size: 20px;
				font-weight: normal;
				content: '\e80e';
			}
		}
	}
}
.mod_menu-main {
	position: relative;
	float: right;
	margin: 40px 0;
	@media @md {
		margin: 30px 0;
	}
	@media @sm, @xs {
		float: none;
		margin: 20px 0;
	}
	ul {
		.rul;
		@media @sm, @xs {
			text-align: center;
		}
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 22px;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.05em;
			font-weight: 600;
			@media @sm, @xs {
				margin: 0 10px;
			}
			&.act {
				a {
					border-bottom-color: #fff;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom-color: #fff;
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	.items {
		.item {
			width: 100%;
			figure {
				img {
					display: block;
					margin: auto;
				}
			}
			.content {
				position: absolute;
				bottom: 0;
				left: 25px;
				width: 49%;
				color: #fff;
				text-transform: uppercase;
				font-weight: 300;
				line-height: 1.7;
				letter-spacing: 0.02em;
				padding: 5.1% 6.8% 7.8% 6.8%;
				background: fade(@c1,50%);
				@media @md {
					padding: 3% 4%;
					font-size: 15px;
					h2 {
						font-size: 30px;
						margin: 0 0 10px;
					}
					nav {
						margin: 0;
						a {
							padding: 0 20px;
							height: 50px;
							line-height: 42px;
						}
					}
				}
				@media @sm {
					width: auto;
					right: 25px;
					padding: 3% 4%;
					font-size: 15px;
					h2 {
						font-size: 30px;
						margin: 0 0 10px;
					}
					nav {
						margin: 0;
						a {
							padding: 0 20px;
							height: 50px;
							line-height: 42px;
						}
					}
				}
				@media @xs {
					position: static;
					width: auto;
					margin: 0 -25px;
					padding: 25px 25px 55px;
					text-transform: none;
					font-size: 14px;
					text-align: center;
					h2 {
						font-size: 14px;
						font-weight: bold;
						margin: 0 0 5px;
					}
					nav {
						margin: 0;
						a {
							padding: 0 20px;
							height: 50px;
							line-height: 42px;
						}
					}
				}
				h2 {
					text-transform: none;
					font-weight: 300;
					font-size: 48px;
					margin: 0 0 27px;
				}
				nav {
					margin: 33px 0 0;
					a {
						.btn;
						border: 4px solid #fff;
						height: 60px;
						line-height: 52px;
						letter-spacing: 0.2em;
						padding: 0 50px;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		bottom: 15px;
		right: 50%;
		margin: 0 20px 0 0;
	}
}
.mod_menu-top {
	position: relative;
	z-index: 998;
	background: @c1;
	padding: 48px 0 0;
	margin: 0 0 40px;
	@media @md  {
		padding-top: 27px;
	}
	@media @sm, @xs {
		padding: 0;
	}
	&>.container {
		text-align: center;
		.toggle {
			display: none;
			color: #fff;
			margin: 20px 0;
			font-size: 32px;
			font-weight: 300;
			cursor: pointer;
			@media @sm, @xs {
				display: block;
			}
			&:before{
				.fi;
				content: '\e800';
				margin: 0 10px 0 0;
				.mod_menu-top-on & {
					content: '\e812';
				}
			}
		}
		&>ul {
			.rul;
			.clearfix;
			position: relative;
			float: left;
			@media @sm, @xs {
				display: none;
				float: none;
				margin: 0 0 30px;
				.mod_menu-top-on & {
					display: block;
				}
			}
			&>li {
				.rli;
				float: left;
				@media @sm, @xs {
					float: none;
				}
				&:hover{
					ul {
						display: block;
					}
				}
				&>a {
					position: relative;
					display: block;
					border-left: 4px solid #fff;
					text-decoration: none;
					color: #fff;
					text-transform: uppercase;
					font-weight: 300;
					font-size: 26px;
					line-height: 1;
					padding: 0 35px 50px;
					white-space: nowrap;
					@media @md {
						font-size: 20px;
						border-width: 3px;
						padding: 0 20px 35px;
					}
					@media @sm, @xs {
						border: none;
						padding: 20px 0;
						font-size: 22px;
						border-top: 1px solid #fff;
					}
					&:hover{
						&:after{
							content: '';
							position: absolute;
							bottom: 46px;
							left: 35px;
							right: 35px;
							height: 1px;
							background: #fff;
							@media @md {
								left: 20px;
								right: 20px;
								bottom: 28px;
							}
							@media @sm, @xs {
								display: none;
							}
						}
					}
					&:only-child {
						&:before{
							display: none;
						}
					}
					&:before{
						.fi;
						content: '\e820';
						position: absolute;
						bottom: 15px;
						left: 50%;
						width: 50px;
						font-size: 34px;
						margin: 0 0 0 -25px;
						line-height: 1;
						text-align: center;
						@media @md {
							bottom: 0;
						}
						@media @sm, @xs {
							display: none;
						}
					}
				}
				ul {
					.rul;
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					right: -4px;
					background: @c1;
					border-bottom: 10px solid @c2;
					@media @sm, @xs {
						display: block;
						position: static;
						border: none;
						margin: 0 0 20px;
					}
					li {
						.rli;
						@media @sm, @xs {
							display: inline-block;
						}
						a {
							display: block;
							padding: 10px 10px;
							text-align: center;
							color: #fff;
							font-size: 14px;
							letter-spacing: 0.1em;
							font-weight: 300;
							text-decoration: none;
							text-transform: uppercase;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		nav {
			position: relative;
			float: right;
			width: 20%;
			margin: -17px 0 0 0;
			@media @md {
				width: 25%;
			}
			@media @sm, @xs {
				display: none;
				float: none;
				width: auto;
				margin: 0 0 30px;
				.mod_menu-top-on & {
					display: block;
				}
			}
			a {
				display: block;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 13px;
				line-height: 1.3;
				letter-spacing: 0.2em;
				padding: 10px 10px 12px 82px;
				border: 4px solid #fff;
				@media @sm, @xs {
					display: inline-block;
					padding: 10px 20px;
				}
				&:hover{
					color: @c1;
					background: #fff;
					[class^="icon-"] {
						color: @c1;
					}
				}
				[class^="icon-"] {
					position: absolute;
					top: 50%;
					left: 14px;
					font-size: 50px;
					line-height: 50px;
					margin: -27px 0 0;
					color: fade(#fff,50%);
					@media @sm, @xs {
						display: none;
					}
				}
			}
		}
	}
}
.mod_custom-tiles {
	margin: 55px 0 50px;
	.items {
		.clearfix;
		position: relative;
		display: inline-block;
		margin: auto;
		width: 1560px;
		height: 1170px;
		@media @md {
			width: 1170px;
			height: 1560px;
		}
		@media @sm {
			width: 780px;
			height: 2340px;
		}
		@media @xs {
			display: block;
			width: auto;
			height: auto;
			margin: 0 10px;
		}
		.item {
			.transition(0.5s);
			position: absolute;
			top: 0;
			left: 0;
			width: 25%;
			padding: 0 0 25%;
			&.cat_01 {a:after, a h2 small:before {background: @cc1;}}
			&.cat_02 {a:after, a h2 small:before {background: @cc2;}}
			&.cat_03 {a:after, a h2 small:before {background: @cc3;}}
			&.cat_04 {a:after, a h2 small:before {background: @cc4;}}
			&.cat_05 {a:after, a h2 small:before {background: @cc5;}}
			&.cat_06 {a:after, a h2 small:before {background: @cc6;}}
			&.cat_07 {a:after, a h2 small:before {background: @cc7;}}
			&.cat_08 {a:after, a h2 small:before {background: @cc8;}}
			&.cat_09 {a:after, a h2 small:before {background: @cc9;}}
			&.cat_10 {a:after, a h2 small:before {background: @cc10;}}
			&.cat_11 {a:after, a h2 small:before {background: @cc11;}}
			&.cat_12 {a:after, a h2 small:before {background: @cc12;}}
			&.cat_13 {a:after, a h2 small:before {background: @cc13;}}
			&.cat_14 {a:after, a h2 small:before {background: @cc14;}}
			&.cat_15 {a:after, a h2 small:before {background: @cc15;}}
			@media @lg {
				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 50%;
				}
				&:nth-child(2) {
					top: 0;
					left: 50%;
				}
				&:nth-child(3) {
					top: 0;
					left: 75%;
					padding: 0 0 50%;
				}
				&:nth-child(4) {
					top: 33.3333%;
					left: 0;
					padding: 0 0 50%;
				}
				&:nth-child(5) {
					top: 33.3333%;
					left: 25%;
				}
				&:nth-child(6) {
					top: 33.3333%;
					left: 50%;
				}
				&:nth-child(7) {
					top: 66.6666%;
					left: 25%;
				}
				&:nth-child(8) {
					top: 66.6666%;
					left: 50%;
					width: 50%;
				}
			}
			@media @md {
				width: 33.3333%;
				padding: 0 0 33.3333%;
				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 66.6666%;
				}
				&:nth-child(2) {
					top: 0;
					left: 66.6666%;
				}
				&:nth-child(3) {
					top: 25%;
					left: 0;
					padding: 0 0 66.6666%;
				}
				&:nth-child(4) {
					top: 25%;
					left: 66.6666%;
					padding: 0 0 66.6666%;
				}
				&:nth-child(5) {
					top: 25%;
					left: 33.3333%;
				}
				&:nth-child(6) {
					top: 50%;
					left: 33.3333%;
				}
				&:nth-child(7) {
					top: 75%;
					left: 0;
				}
				&:nth-child(8) {
					top: 75%;
					left: 33.3333%;
					width: 66.6666%;
				}
			}
			@media @sm {
				width: 50%;
				padding: 0 0 50%;
				&:nth-child(1) {
					top: 0;
					left: 0;
					width: 100%;
				}
				&:nth-child(2) {
					top: 16.6666%;
					left: 0;
				}
				&:nth-child(3) {
					top: 16.6666%;
					left: 50%;
					padding: 0 0 100%;
				}
				&:nth-child(4) {
					top: 33.3333%;
					left: 0;
					padding: 0 0 100%;
				}
				&:nth-child(5) {
					top: 50%;
					left: 50%;
				}
				&:nth-child(6) {
					top: 66.6666%;
					left: 0;
				}
				&:nth-child(7) {
					top: 66.6666%;
					left: 50%;
				}
				&:nth-child(8) {
					top: 83.3333%;
					left: 0;
					width: 100%;
				}
			}
			@media @xs {
				position: relative;
				width: 50%;
				padding: 0 0 50%;
				float: left;
				a {
					top: 10px;
					left: 10px;
					right: 10px;
					bottom: 10px;
					&:after{
						height: 60px;
						width: 60px;
						line-height: 60px;
					}
					h2 {
						top: 10%;
						left: 10%;
						right: 10%;
						font-size: 24px;
						small {
							font-size: 24px;
						}
					}
				}
			}
			@media (max-width: 459px) {
				width: 100%;
				padding: 0 0 100%;
				float: none;
			}
			a {
				position: absolute;
				top: 25px;
				left: 25px;
				right: 25px;
				bottom: 25px;
				display: block;
				text-align: left;
				color: #fff;
				text-decoration: none;
				overflow: hidden;
				&:hover{
					figure {
						top: -20px;
						left: -20px;
						right: -20px;
						bottom: -20px;
					}
					&:before{
						background: fade(@c1,0%);
					}
				}
				&:before{
					.transition(0.3s);
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: fade(@c1,30%);
				}
				&:after{
					.fi;
					content: '\e815';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 82px;
					height: 82px;
					line-height: 82px;
					text-align: center;
					font-size: 38px;
					background: @c2;
				}
				figure {
					.transition(0.1s);
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background-position: center;
					background-repeat: no-repeat;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					img {
						display: block;
					}
				}
				h2 {
					position: absolute;
					z-index: 1;
					top: 33px;
					left: 45px;
					right: 45px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 36px;
					text-shadow: 0 0 14px @c1;
					small {
						position: relative;
						font-weight: 300;
						font-size: 36px;
						&:before{
							content: '';
							position: absolute;
							bottom: -22px;
							left: 0;
							right: 0;
							height: 8px;
							background: @c2;
						}
					}
				}
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	.items {
		.item {
			width: 100%;
			figure {
				img {
					display: block;
					margin: auto;
				}
			}
			.content {
				position: absolute;
				left: 50%;
				right: 20px;
				bottom: 0;
				color: #fff;
				text-shadow: 0 0 6px @c1;
				text-align: right;
				padding: 0 0 12%;
				font-size: 48px;
				line-height: 1.54;
				font-weight: 300;
				@media @md {
					font-size: 30px;
					padding: 0 0 5%;
				}
				@media @sm {
					font-size: 30px;
					left: 0;
					text-align: left;
					padding: 0 0 5%;
				}
				@media @xs {
					position: static;
					text-shadow: none;
					text-align: center;
					margin: 0 -25px;
					padding: 10px 25px 50px;
					font-size: 14px;
					background: fade(@c1,50%);
				}
				nav {
					margin: 60px 0 0;
					@media @md, @sm, @xs  {
						margin: 0;
					}
					a {
						.btn;
						padding: 0 50px;
						height: 82px;
						letter-spacing: 0.2em;
						line-height: 78px;
						text-shadow: none;
						border: 4px solid #fff;
						@media @md, @sm, @xs {
							height: 50px;
							line-height: 42px;
							padding: 0 20px;
						}
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		bottom: 25px;
		left: 0;
		right: 0;
		@media @xs {
			bottom: 10px;
		}
	}
}
.mod_custom-recommend {
	padding: 90px 0 75px;
	.mod-title {
		text-align: center;
		font-size: 48px;
		line-height: 1.2;
		font-weight: 300;
		margin: 0 0 40px;
	}
	.items {
		text-align: center;
		margin: 0 -25px;
		@media @md  {
			margin: 0 -5px;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 33.3333%;
			padding: 0 25px;
			margin: 0 -2px 50px;
			@media @md {
				padding: 0 5px;
			}
			@media @sm {
				width: 50%;
			}
			@media @xs {
				display: block;
				width: auto;
			}
			&.cat_01 {a .content .category {background: @cc1;} a .content:before {color: @cc1;}}
			&.cat_02 {a .content .category {background: @cc2;} a .content:before {color: @cc2;}}
			&.cat_03 {a .content .category {background: @cc3;} a .content:before {color: @cc3;}}
			&.cat_04 {a .content .category {background: @cc4;} a .content:before {color: @cc4;}}
			&.cat_05 {a .content .category {background: @cc5;} a .content:before {color: @cc5;}}
			&.cat_06 {a .content .category {background: @cc6;} a .content:before {color: @cc6;}}
			&.cat_07 {a .content .category {background: @cc7;} a .content:before {color: @cc7;}}
			&.cat_08 {a .content .category {background: @cc8;} a .content:before {color: @cc8;}}
			&.cat_09 {a .content .category {background: @cc9;} a .content:before {color: @cc9;}}
			&.cat_10 {a .content .category {background: @cc10;} a .content:before {color: @cc10;}}
			&.cat_11 {a .content .category {background: @cc11;} a .content:before {color: @cc11;}}
			&.cat_12 {a .content .category {background: @cc12;} a .content:before {color: @cc12;}}
			&.cat_13 {a .content .category {background: @cc13;} a .content:before {color: @cc13;}}
			&.cat_14 {a .content .category {background: @cc14;} a .content:before {color: @cc14;}}
			&.cat_15 {a .content .category {background: @cc15;} a .content:before {color: @cc15;}}
			a {
				display: block;
				color: #fff;
				text-decoration: none;
				&:hover{
					figure {
						&:before{
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
						}
						&:after{
							font-size: 150px;
						}
					}
				}
				figure {
					position: relative;
					&:before{
						.transition(0.6s);
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						right: 50%;
						bottom: 50%;
						background: fade(@c1,35%);
					}
					&:after{
						.fi;
						.transition(1s);
						content: '\e811';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 150px;
						height: 150px;
						line-height: 150px;
						text-align: center;
						font-size: 0px;
						margin: -75px 0 0 -75px;
					}
					img {
						display: block;
						margin: auto;
					}
				}
				.content {
					position: relative;
					padding: 40px 30px 37px;
					background: @c1;
					&:before{
						.fi;
						content: '\e815';
						position: absolute;
						bottom: 15px;
						right: 5px;
						line-height: 1;
						font-size: 28px;
						color: @c2;
					}
					.category {
						position: absolute;
						left: 0;
						max-width: 100%;
						bottom: 100%;
						margin: 0 0 -25px;
						font-weight: 300;
						line-height: 1;
						padding: 12px 30px;
						background: @c2;
					}
					h2 {
						font-size: 26px;
						font-weight: 300;
						text-transform: uppercase;
						small {
							display: block;
							float: left;
							width: 100%;
							padding: 5px 50% 0 0;
							font-size: 20px;
						}
						mark {
							display: block;
							text-transform: none;
							float: left;
							width: 100%;
							margin: 0 0 0 -100%;
							padding: 0 0 0 50%;
							color: #fff;
							text-align: right;
							font-size: 16px;
							strong {
								font-size: 26px;
							}
						}
					}
				}
			}
		}
	}
	nav {
		margin: -27px 0 0;
		text-align: center;
		a {
			display: inline-block;
			font-size: 0;
			text-decoration: none;
			color: @c1;
			&:hover{
				color: @c2;
			}
			&:before{
				.fi;
				content: '\e809';
				line-height: 1;
				font-size: 74px;
			}
		}
	}
}
.mod_custom-info {
	position: relative;
	padding: 70px 0 20px;
	color: #fff;
	background: @c2;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 6%;
			margin: 0 -2px 40px;
			font-size: 26px;
			font-weight: 300;
			text-align: center;
			@media @sm {
				padding: 2%;
			}
			@media @xs {
				display: block;
				padding: 0;
				width: auto;
			}
			[class^="icon-"] {
				.border-radius(50%);
				display: block;
				margin: 0 auto 20px;
				width: 182px;
				height: 182px;
				line-height: 168px;
				font-size: 98px;
				border: 3px solid #fff;
			}
		}
	}
}
.mod_menu-footer {
	color: #fff;
	padding: 28px 0;
	background: @c1;
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			font-weight: 300;
			padding: 0 16px;
			&.icon {
				padding: 0 5px;
				@media @xs {
					display: block;
				}
				&:before{
					display: none;
				}
				a {
					&:hover{
						color: @c2;
					}
				}
			}
			&:last-child {
				&:before{
					display: none;
				}
			}
			&:before{
				left: auto;
				right: -2px;
				top: 50%;
				margin: -8px 0 0;
				height: 18px;
				width: 1px;
				background: #fff;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				[class^="icon"] {
					.transition(0.2s);
					font-size: 49px;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 33px;
	ul {
		.rul;
		margin: 5px 0;
		li {
			display: inline-block;
			font-size: 16px;
			color: @c2;
			font-weight: bold;
			margin: 0 7px 0 0;
			&:before{
				content: '\e815';
				font-size: 18px;
				top: 2px;
				left: -4px;
				font-weight: normal;
			}
			a {
				color: @c1;
				font-weight: normal;
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 25px 0 60px;
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 20px;
			line-height: 1.1;
			padding: 0 0 0 15px;
			font-weight: 300;
			&.act {
				&:before{
					color: @c2;
				}
				&>a {
					font-weight: normal;
					color: @c2;
				}
			}
			&:before{
				content: '\e815';
				font-size: 15px;
				font-weight: bold;
				top: 4px;
				left: -4px;
			}
			&>a {
				font-size: 24px;
				color: @c1;
				text-decoration: none;
				border-bottom: 1px solid transparent;
				&:hover{
					border-bottom-color: @c1;
				}
			}
			ul {
				.rul;
				margin: 24px 0 29px;
				li {
					.rli;
					margin: 0 0 1px;
					&.cat_01 {&.act>a, &>a:before {background: @cc1;}}
					&.cat_02 {&.act>a, &>a:before {background: @cc2;}}
					&.cat_03 {&.act>a, &>a:before {background: @cc3;}}
					&.cat_04 {&.act>a, &>a:before {background: @cc4;}}
					&.cat_05 {&.act>a, &>a:before {background: @cc5;}}
					&.cat_06 {&.act>a, &>a:before {background: @cc6;}}
					&.cat_07 {&.act>a, &>a:before {background: @cc7;}}
					&.cat_08 {&.act>a, &>a:before {background: @cc8;}}
					&.cat_09 {&.act>a, &>a:before {background: @cc9;}}
					&.cat_10 {&.act>a, &>a:before {background: @cc10;}}
					&.cat_11 {&.act>a, &>a:before {background: @cc11;}}
					&.cat_12 {&.act>a, &>a:before {background: @cc12;}}
					&.cat_13 {&.act>a, &>a:before {background: @cc13;}}
					&.cat_14 {&.act>a, &>a:before {background: @cc14;}}
					&.cat_15 {&.act>a, &>a:before {background: @cc15;}}
					&.act {
						&>a {
							font-weight: normal;
							color: #fff;
							background: darken(@c3,20%);
						}
					}
					a {
						position: relative;
						display: block;
						text-decoration: none;
						color: @c1;
						padding: 7px 5px 7px 32px;
						&:hover{
							text-decoration: underline;
						}
						&:before{
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							width: 16px;
							background: darken(@c3,20%);
						}
					}
				}
			}
		}
	}
}
.mod_banner {
	border-bottom: 7px solid @c2;
	ul {
		.rul;
		li {
			.rli;
			margin: 0 0 8px;
			a {
				display: block;
				padding: 22px 22px 30px;
				color: #fff;
				font-size: 15px;
				line-height: 1.2;
				text-decoration: none;
				background: @c2;
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				&:hover{
					&:before{
						background: darken(@c2,5%);
					}
				}
				&:before{
					.fi;
					.transition(0.2s);
					content: '\e815';
					position: absolute;
					z-index: 2;
					bottom: 0;
					right: 0;
					width: 66px;
					height: 66px;
					line-height: 66px;
					text-align: center;
					color: #fff;
					font-size: 32px;
					background: @c2;
				}
				&:after{
					position: absolute;
					content: '';
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background: fade(#000,50%);
				}
				h2 {
					position: relative;
					z-index: 1;
					font-size: 36px;
					line-height: 1.1;
					font-weight: 900;
					letter-spacing: -0.02em;
					margin: 0 0 15px;
					text-transform: uppercase;
				}
				p {
					position: relative;
					z-index: 1;
					margin: 5px 70px 5px 0;
				}
			}
		}
	}
}
.mod_menu-tabs {
	overflow: hidden;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 30px 0 40px;
	ul {
		.rul;
		display: table-row;
		width: 100%;
		li {
			.rli;
			display: table-cell;
			vertical-align: bottom;
			padding: 0 0 0 20px;
			border-bottom: 4px solid @c2;
			@media @xs {
				display: block;
				padding: 0;
			}
			&:first-child {
				padding-left: 0;
			}
			&.act {
				a {
					background: none;
					color: @c2;
					&:before{
						content: '';
						position: absolute;
						bottom: -4px;
						left: 0px;
						right: 0px;
						height: 4px;
						background: #fff;
					}
				}
			}
			a {
				position: relative;
				display: block;
				border: 4px solid @c2;
				border-bottom: none;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 32px;
				letter-spacing: 0.1em;
				line-height: 1.1;
				padding: 30px 7.5%;
				background: @c2;
				@media @md {
					font-size: 26px;
				}
				@media @sm {
					font-size: 20px;
					padding: 20px 5%;
				}
				@media @xs {
					padding: 20px;
					text-align: center;
					font-size: 20px;
				}
				[class^="icon-"] {
					font-size: 62px;
					float: left;
					margin: -17px 30px -17px 0;
					@media @md {
						font-size: 48px;
						margin: -14px 10px -14px 0;
					}
					@media @sm {
						font-size: 32px;
						margin: -9px 10px -9px 0;
					}
					@media @xs {
						float: none;
						margin: 0;
						font-size: 20px;
					}
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_menu-inline {
	display: table;
	width: 100%;
	text-align: center;
	margin: 30px 0 40px;
	ul {
		.rul;
		display: table-row;
		li {
			.rli;
			display: table-cell;
			vertical-align: bottom;
			border: 8px solid transparent;
			@media @sm, @xs {
				display: inline-block;
				margin: 0 0 10px;
			}
			&.act {
				border-color: darken(@c3,20%);
			}
			&.cat_01 {&.act, a:before {border-color: @cc1;}}
			&.cat_02 {&.act, a:before {border-color: @cc2;}}
			&.cat_03 {&.act, a:before {border-color: @cc3;}}
			&.cat_04 {&.act, a:before {border-color: @cc4;}}
			&.cat_05 {&.act, a:before {border-color: @cc5;}}
			&.cat_06 {&.act, a:before {border-color: @cc6;}}
			&.cat_07 {&.act, a:before {border-color: @cc7;}}
			&.cat_08 {&.act, a:before {border-color: @cc8;}}
			&.cat_09 {&.act, a:before {border-color: @cc9;}}
			&.cat_10 {&.act, a:before {border-color: @cc10;}}
			&.cat_11 {&.act, a:before {border-color: @cc11;}}
			&.cat_12 {&.act, a:before {border-color: @cc12;}}
			&.cat_13 {&.act, a:before {border-color: @cc13;}}
			&.cat_14 {&.act, a:before {border-color: @cc14;}}
			&.cat_15 {&.act, a:before {border-color: @cc15;}}
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1.1;
				color: @c1;
				padding: 18px 0;
				margin: 0 10px;
				letter-spacing: 0.2em;
				@media @xs {
					letter-spacing: 0;
					padding: 5px;
				}
				@media @md {
					letter-spacing: 0;
					margin: 0 5px;
				}
				&:hover{
					&:before{
						left: 20%;
						right: 20%;
					}
				}
				&:before{
					.transition(0.2s);
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					height: 8px;
					border-bottom: 8px solid darken(@c3,20%);
				}
			}
		}
	}
}
.mod_custom-gallery {
	overflow: hidden;
	margin: 0 0 100px;
	ul {
		.rul;
		text-align: center;
		margin: 0 -25px;
		li {
			.rli;
			display: inline-block;
			width: 33.3333%;
			margin: 0 -2px;
			padding: 25px;
			@media @sm {
				width: 50%;
			}
			@media @xs {
				width: 100%;
			}
			&.cat_01 {a h2 small:before {background: @cc1;}}
			&.cat_02 {a h2 small:before {background: @cc2;}}
			&.cat_03 {a h2 small:before {background: @cc3;}}
			&.cat_04 {a h2 small:before {background: @cc4;}}
			&.cat_05 {a h2 small:before {background: @cc5;}}
			&.cat_06 {a h2 small:before {background: @cc6;}}
			&.cat_07 {a h2 small:before {background: @cc7;}}
			&.cat_08 {a h2 small:before {background: @cc8;}}
			&.cat_09 {a h2 small:before {background: @cc9;}}
			&.cat_10 {a h2 small:before {background: @cc10;}}
			&.cat_11 {a h2 small:before {background: @cc11;}}
			&.cat_12 {a h2 small:before {background: @cc12;}}
			&.cat_13 {a h2 small:before {background: @cc13;}}
			&.cat_14 {a h2 small:before {background: @cc14;}}
			&.cat_15 {a h2 small:before {background: @cc15;}}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				color: #fff;
				&:hover{
					&:before{
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
					}
					&:after{
						font-size: 70px;
					}
					h2 {
						font-size: 24px;
						@media @md {
							font-size: 18px;
						}
						small {
							font-size: 16px;
							@media @md {
								font-size: 13px;
							}
							&:before{
								left: 10%;
								right: 10%;
							}
						}
					}
				}
				&:before{
					.transition(0.2s);
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					right: 50%;
					bottom: 50%;
					background: fade(#000,50%);
					@media @xs {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
				}
				&:after{
					.fi;
					.transition(0.4s);
					content: '\e811';
					position: absolute;
					bottom: 60%;
					left: 0;
					right: 0;
					line-height: 1;
					font-size: 0px;
					@media @xs {
						font-size: 70px;
					}
				}
				img {
					display: block;
					margin: auto;
				}
				h2 {
					.transition(0.3s);
					position: absolute;
					top: 41%;
					left: 0;
					right: 0;
					text-transform: uppercase;
					font-size: 0;
					line-height: 1.1;
					@media @xs {
						font-size: 24px;
					}
					small {
						.transition(0.3s);
						position: relative;
						display: inline-block;
						vertical-align: bottom;
						padding: 15px 0 30px;
						font-size: 0px;
						letter-spacing: 0.2em;
						@media @md {
							padding: 10px 0 20px;
						}
						@media @xs {
							font-size: 16px;
							padding: 10px 0 20px;
						}
						&:before{
							.transition(0.8s);
							content: '';
							position: absolute;
							bottom: 0;
							left: 50%;
							right: 50%;
							height: 8px;
							background: darken(@c3,20%);
							@media @xs {
								left: 10%;
								right: 10%;
							}
						}
					}
				}
			}
			.overlay {
				display: none;
			}
		}
	}
}
.eshop-items {
	.eshop-title {
		margin: 0 0 35px;
	}
	.eshop-description {
		.clearfix;
		font-size: 16px;
		line-height: 2;
		margin: 0 0 40px;
	}
	.eshop-filter {
		margin: 0 0 60px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		.toggle {
			position: relative;
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			padding: 10px 0;
			cursor: pointer;
			&:hover{
				&:before{
					background: darken(@c2,5%);
				}
			}
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e802';
				position: absolute;
				top: -1px;
				right: 0;
				bottom: -1px;
				font-size: 21px;
				text-align: center;
				width: 60px;
				line-height: 60px;
				color: #fff;
				background: @c2;
				.eshop-filter-on & {
					content: '\e805';
				}
			}
		}
		.form {
			display: none;
			padding: 45px 0 5px;
			.eshop-filter-on & {
				display: block;
			}
			.form-color, .form-checker, .form-price, .form-attribute {
				margin: 0 0 25px;
				.title {
					display: inline-block;
					vertical-align: top;
					font-weight: bold;
					font-size: 16px;
					line-height: 1.2;
					width: 20%;
					margin: 0 -4px 0 0;
					padding: 0 20px 0 0;
					@media @xs {
						width: auto;
						display: block;
						margin: 0 0 20px;
					}
				}
				.content {
					display: inline-block;
					vertical-align: top;
					width: 80%;
					margin: 0 -4px 0 0;
					font-size: 16px;
					line-height: 1.2;
					@media @xs {
						display: block;
						width: auto;
						margin: 0;
					}
				}
				.input_label {
					display: inline-block;
					vertical-align: middle;
					margin: 0 20px 20px 0;
				}
			}
			.form-price {
				margin-left: -20px;
				@media @xs {
					margin-left: 0;
				}
				.col {
					display: inline-block;
					vertical-align: top;
					margin: 0 -4px 0 0;
					width: 50%;
					@media @md, @xs {
						display: block;
						width: auto;
						margin: 0;
					}
					.title {
						padding: 0 0 0 20px;
						@media @xs {
							padding: 0;
						}
					}
				}
				.ui-slider {
					margin: 5px 0 70px;
				}
			}
			.form-attribute {
				label {
					color: @c2;
					font-size: 14px;
					text-transform: uppercase;
					font-weight: 900;
				}
			}
		}
	}
	.eshop-meta {
		margin: 0 0 20px;
		.show {
			display: inline-block;
			vertical-align: top;
			font-size: 16px;
			width: 50%;
			margin: 0 -4px 0 0;
			@media @xs {
				display: block;
				width: auto;
				margin: 0 0 20px;
			}
			mark {
				color: @c2;
				font-weight: bold;
			}
		}
		.order {
			.clearfix;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -4px 0 0;
			@media @xs {
				display: block;
				width: auto;
				margin: 0;
			}
			label {
				float: left;
				width: 36%;
				text-align: right;
				font-size: 15px;
				@media @xs {
					float: none;
					display: block;
					width: auto;
					text-align: left;
					margin: 0 0 15px;
				}
			}
			@media @lg, @md, @sm {
				.selectboxit-container {
					float: left;
					vertical-align: top;
					width: 29%;
					margin: -8px 0 0 3%;
					.selectboxit {
						border: 0;
						padding-left: 0;
						padding-right: 20px;
						font-size: 14px;
						&:before{
							width: 20px;
							font-size: 18px;
							color: @c2;
						}
						.selectboxit-text {
							font-weight: 600;
							color: @c2;
						}
					}
				}
			}
			@media @xs {
				.selectboxit {
					margin-bottom: 10px;
				}
			}
		}
	}
	.row-items {
		text-align: center;
		margin: 0 -10px;
	}
	.item {
		display: inline-block;
		vertical-align: top;
		width: 33.3333%;
		margin: 0 -2px 35px;
		text-align: left;
		@media @md {
			width: 50%;
		}
		@media @xs {
			display: block;
			margin-left: 0;
			margin-right: 0;
			width: auto;
		}
		a {
			.transition(0.2s);
			position: relative;
			display: block;
			padding: 10px;
			color: @c1;
			text-decoration: none;
			&:hover{
				background: #ccc;
			}
			&:before{
				.fi;
				content: '\e811';
				position: absolute;
				bottom: 10px;
				left: 10px;
				height: 68px;
				line-height: 68px;
				font-size: 34px;
				width: 85px;
				color: #fff;
				text-align: center;
				background: @c2;
			}
			figure {
				position: relative;
				border: 1px solid #ccc;
				border-bottom: none;
				text-align: center;
				background: #fff;
				img {
					display: block;
					margin: auto;
				}
			}
			.labels {
				position: absolute;
				top: -1px;
				left: -1px;
				.label {
					float: left;
					color: #fff;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1;
					font-weight: 900;
					padding: 10px 17px;
					background: @c2;
					&.label-action {
						background: @c4;
					}
				}
			}
			h2 {
				text-transform: uppercase;
				color: #fff;
				margin: 0;
				font-size: 21px;
				line-height: 1.1;
				padding: 14px 17px;
				background: @c1;
				small {
					font-size: 16px;
				}
			}
			.description {
				position: relative;
				padding: 14px 17px;
				font-size: 15px;
				background: @c3;
				&:before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 17px;
					right: 17px;
					height: 1px;
					background: fade(@c1,20%);
				}
			}
			.attr {
				padding: 17px 17px 5px;
				font-size: 14px;
				line-height: 1.2;
				background: @c3;
				.class {
					position: relative;
					float: right;
					color: #fff;
					font-weight: 900;
					background: @c1;
					height: 32px;
					line-height: 32px;
					font-size: 21px;
					padding: 0 14px;
					margin: -8px 0 0 20px;
					&:before{
						content: '';
						position: absolute;
						right: 100%;
						border: 16px solid transparent;
						border-right-color: @c1;
						border-left-width: 0;
						border-right-width: 14px;
					}
					sup {
						font-weight: normal;
					}
				}
				ul {
					.rul;
					li {
						.rli;
						margin: 0 0 15px;
						.title {
							color: @c2;
						}
					}
				}
			}
			.price {
				text-align: right;
				color: #fff;
				height: 68px;
				line-height: 68px;
				font-weight: 300;
				padding: 0 25px 0 90px;
				white-space: nowrap;
				background: @c1;
				strong {
					font-size: 28px;
				}
			}
		}
	}
}
.detail-title {
	.clearfix;
	margin: 0 0 30px;
	.icon {
		float: right;
		margin: -50px 0 0 20px;
		@media @xs {
			float: none;
			margin: 0;
		}
	}
}
.detail-image {
	position: relative;
	width: 50%;
	padding: 0 15px 50px 0;
	float: left;
	@media @md {
		width: 40%;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding-right: 0;
	}
	figure {
		position: relative;
		text-align: center;
		margin: 0 0 35px;
		img {
			.transition(0.2s);
			display: block;
			margin: auto;
			border: 1px solid #ccc;
		}
		a {
			&:hover{
				img {
					border-color: @c1;
				}
			}
		}
		.labels {
			position: absolute;
			top: 0;
			left: 0;
			.label {
				float: left;
				font-size: 26px;
				line-height: 1;
				font-weight: 900;
				padding: 18px 32px;
				color: #fff;
				text-transform: uppercase;
				background: @c4;
			}
		}
	}
	.icons {
		margin: 0 0 25px -10px;
		img {
			margin: 0 0 10px 10px;
		}
	}
	.thumbnails {
		.rul;
		margin: 10px -8px;
		li {
			.rli;
			display: inline-block;
			width: 25%;
			vertical-align: top;
			padding:  0 8px 17px;
			margin: 0 -4px 0 0;
			@media @xs {
				width: 50%;
			}
			img {
				.transition(0.2s);
				display: block;
				border: 1px solid #ccc;
			}
			a {
				&:hover{
					img {
						border-color: @c1;
					}
				}
			}
		}
	}
}
.detail-description {
	position: relative;
	width: 50%;
	padding: 0 0 0 50px;
	float: left;
	@media @md {
		width: 60%;
		padding-left: 30px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding-left: 0;
	}
	h2 {
		.clearfix;
		[class^="icon-"] {
			float: right;
			font-size: 66px;
			line-height: 1;
			margin: -12px 0 -12px 20px;
			&:before{
				margin: 0;
			}
		}
	}
	.list {
		ul {
			.rul;
			.clearfix;
			margin: 0 -10px;
			li {
				.rli;
				float: left;
				vertical-align: top;
				width: 50%;
				padding: 0 10px;
				margin: 0 0 20px 0;
				@media @xs {
					width: auto;
					float: none;
				}
				&.highlight {
					a {
						background: @c1;
					}
				}
				a {
					.transition(0.2s);
					position: relative;
					display: block;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.1;
					letter-spacing: 0.1em;
					padding: 23px 10px 22px 62px;
					background: @c2;
					&:hover{
						background: darken(@c2,5%);
					}
					[class^="icon-"] {
						position: absolute;
						left: 15px;
						top: 50%;
						width: 40px;
						height: 40px;
						line-height: 40px;
						margin: -20px 0 0;
						text-align: center;
						font-size: 28px;
					}
				}
			}
		}
	}
	.info {
		ul {
			margin: 20px 0 40px;
			li {
				line-height: 1.2;
				margin: 0 0 15px;
				&:before{
					top: 4px;
				}
				a {
					color: @c1;
				}
			}
		}
	}
	.buttons {
		ul {
			.rul;
			margin: 25px 0 30px;
			li {
				.rli;
				margin: 0 0 20px;
				a {
					.transition(0.2s);
					position: relative;
					display: block;
					font-size: 22px;
					line-height: 1.2;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					text-decoration: none;
					color: @c1;
					padding: 21px 20px 22px 130px;
					border: 4px solid @c1;
					background: #fff;
					@media @xs {
						text-align: center;
						padding-left: 20px;
						padding-top: 60px;
					}
					&:hover{
						color: #fff;
						background: @c1;
					}
					[class^="icon-"] {
						position: absolute;
						left: 48px;
						top: 50%;
						width: 60px;
						height: 60px;
						line-height: 60px;
						margin: -30px 0 0;
						text-align: center;
						font-size: 58px;
						@media @xs {
							left: 50%;
							top: 0;
							margin: 0 0 0 -30px;
						}
					}
				}
			}
		}
	}
	.price {
		color: #fff;
		margin: 0 0 30px;
		background: @c1;
		.title {
			display: inline-block;
			width: 40%;
			margin: 0 -4px 0 0;
			padding: 30px 0 30px 40px;
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
		}
		.value {
			display: inline-block;
			vertical-align: middle;
			width: 60%;
			margin: 0 -4px 0 0;
			padding: 10px 40px 30px 0;
			text-align: right;
			font-size: 26px;
			font-weight: 300;
			line-height: 1.1;
			mark {
				color: #fff;
				font-size: 42px;
				font-weight: bold;
			}
		}
	}
}
.detail-text {
	margin: 40px 0 50px;
	font-size: 16px;
	line-height: 2;
	.more {
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		margin: 0 0 0 10px;
		&:hover{
			text-decoration: underline;
		}
		&:before{
			.fi;
			content: '\e804';
			float: right;
			font-weight: normal;
			margin: 0 0 0 10px;
		}
	}
}
.panes {
	.tabs {
		.rul;
		.clearfix;
		border-bottom: 1px solid @c1;
		li {
			.rli;
			float: left;
			margin: 0 20px 0 0;
			@media @xs {
				float: none;
				margin: 0 0 10px;
			}
			&.cycle-pager-active {
				a {
					border-width: 4px;
					padding-bottom: 19px;
					@media @xs {
						border: 4px solid @c1;
					}
					&:before{
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						top: 100%;
						height: 1px;
						background: #fff;
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 22px 25px;
				text-decoration: none;
				color: #000;
				font-size: 14px;
				line-height: 1;
				letter-spacing: 0.1em;
				white-space: nowrap;
				text-transform: uppercase;
				border: 1px solid @c1;
				border-bottom: none;
				@media @xs {
					border: 1px solid @c1;
				}
				[class^="icon-"] {
					float: left;
					font-size: 28px;
					margin: -7px 15px 0 -10px;
					&:before{
						margin: 0;
					}
				}
			}
		}
	}
	.pane {
		padding: 40px 40px 30px;
		@media @xs {
			padding: 20px 0;
		}
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
		table.info {
			tr {
				th,td {
					font-weight: normal;
					font-size: 16px;
					padding: 7px 60px 7px 20px;
				}
			}
		}
	}
}
.ui-slider {
	.border-radius(5px);
	.box-shadow(inset 1px 1px 2px fade(#000,10%));
	position: relative;
	display: block;
	margin: 30px 0 60px;
	border: 1px solid #c3c3c3;
	border-right-color: #ebebeb;
	border-bottom-color: #ebebeb;
	height: 10px;
	background: #fff;
	.ui-slider-range {
		position: absolute;
		top: 0;
		bottom: 0;
		background: #d6d6d6;
	}
	.ui-slider-handle {
		.border-radius(2px 2px 0 0);
		.box-shadow(2px 1px 0 fade(#000,20%));
		position: absolute;
		top: -7px;
		width: 18px;
		height: 21px;
		margin: 0 0 0 -9px;
		outline: none;
		cursor: pointer;
		background: @c2;
		&:before, &:after{
			content: '';
			position: absolute;
			left: 0;
			top: 100%;
			border: 9px solid transparent;
			border-top: 7px solid @c2;
			border-bottom: 0;
		}
		&:before{
			margin: 1px 0 0 2px;
			border-top-color: fade(#000,20%);
		}
		span {
			position: absolute;
			top: 100%;
			left: 50%;
			width: 100px;
			text-align: center;
			margin: 0 0 0 -50px;
			font-size: 16px;
			line-height: 1;
			padding: 15px 0 0;
		}
	}
}
#page-footer {
	padding: 45px 0 100px;
	.container {
		text-align: center;
		color: lighten(@c1,50%);
		a {
			color: lighten(@c1,50%);
		}
		.copy {
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			@media @xs {
				display: block;
			}
		}
		.xart {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			text-transform: uppercase;
			margin: 2px 0 0 15px;
			padding: 0 0 0 15px;
			border-left: 1px solid lighten(@c1,50%);
			@media @xs {
				display: block;
				border: 0;
				margin: 20px 0;
			}
			img {
				float: left;
				width: 14px;
				margin: 2px 12px 0 0;
				@media @xs {
					display: block;
					margin: 0 auto 5px;
					width: auto;
					float: none;
				}
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c2,80%);
	@media @xs {
		position: static;
	}
	a {
		color: #fff;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c2,80%);
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 44px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		border: 3px solid #fff;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e81c';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}