html,body,button,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	text-align: center;
	font-weight: normal;
	color: @cp;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	.fh;
	margin: 0 0 10px;
	line-height: @lhh;
	font-weight: normal;
}
h1{
	font-size: 48px;
	font-weight: 300;
}
h2{
	font-size: 36px;
	font-weight: 300;
}
h3{
	font-size: 32px;
	font-weight: 300;
}
h4{
	font-size: 28px;
	font-weight: 300;
}
h5{
	font-size: 24px;
	font-weight: 300;
}
h6{
	font-size: 20px;
	font-weight: 300;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	&:before{
		.fi;
		position: absolute;
		top: 6px;
		left: 0;
		font-size: 12px;
		line-height: 1;
		content: '\e804';
	}
	&>ul{
		padding: 10px 0 10px 20px;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid lighten(@cp,80%);
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @cl;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}

// form
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select,
.input_style {
	.rin;
	.transition(0.2s);
	.border-radius(0px);
	position: relative;
	border: 1px solid lighten(@cp,50%);
	font-size: 16px;
	width: 100%;
	height: 40px;
	padding: 9px 10px;
	color: @cp;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: @cp;
	}
}
textarea{
	padding: 10px;
	height:auto;
}
select[multiple] {
	width: auto;
	height: auto;
	padding-right: 4px;
	padding-left: 4px;
}
input[type=submit],
input[type=button],
button {
	.btn;
}

// icheck
.icheckbox, .iradio {
	.transition(0.2s);
	.box-shadow(inset 1px 1px 2px fade(#000,20%));
	top: -2px;
	margin: 0 0.3em 0 0;
	display: inline-block;
	vertical-align: middle;    
	width: 20px;
	height: 20px;
	line-height: 18px;
	color: #555;
	font-weight: normal;
	border: 1px solid #acacac;
	background: #fff;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	-webkit-background-size: cover;
	background-size: cover;
	&.checked {
		.fi;
		&:before{
			.fi;
			content: '\e821';
			font-size: 16px;
		}
	}
	&.disabled {
		color: #bbb;
		background: #f1f1f1;
		&, * {
			cursor: not-allowed;
		}
	}
	input {
		position: absolute;
		top: -20%;
		left: -20%;
		width: 140%;
		height: 140%;
		margin: 0;
		padding: 0;
		border: 0;
	}
}
.iradio {
	.border-radius(50%);
	font-size: 9px;
	&.checked {
		.fi;
		&:before{
			.fi;
			font-size: 34px;
			content: '\e823';
		}
	}
}
// selectBoxIt
.selectboxit-container {
	display: block;
	position: relative;
	.selectboxit {
		.input_style;
		display: block;
		position: relative;
		width: 100%!important;
		padding-right: 50px;
		cursor: pointer;
		&:before{
			.fi;
			content: '\e802';
			position: absolute;
			top: 50%;
			right: 0;
			width: 40px;
			text-align: center;
			font-size: 22px;
			line-height: 1;
			margin: -11px 0 0;
		}
		&.selectboxit-disabled {
			color: #bbb;
			background: #f1f1f1;
			cursor: not-allowed;
		}
		.selectboxit-option-icon-container {
			.selectboxit-option-icon-url {
				float: left;
				width: 27px;
				height: 27px;
				margin: -3px 10px -3px -10px;
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		}
		.selectboxit-text {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			max-width: inherit!important;
		}
	}
	.selectboxit-options {
		.rul;
		display: none;
		position: absolute;
		z-index: 9999999999999;
		top: 100%;
		background: #fff;
		border: 1px solid #a6a6a6;
		width: 100%;
		margin: -1px 0 0;
		min-width: 0!important;
		li {
			.rli;
			&.selectboxit-disabled {
				a {
					color: #ccc;
				}
			}
			&.selectboxit-focus {
				a {
					background: #f1f1f1;
				}
			}
			a {
				.clearfix;
				display: block;
				padding: 7px 15px;
				color: @c1;
				text-decoration: none;
				.selectboxit-option-icon-url {
					float: left;
					width: 20px;
					height: 20px;
					margin: 0 10px 0 0;
					background-repeat: no-repeat;
					background-position: center;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
			}
		}
	}
}