nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e814';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 14px;
	background: @c3;
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: darken(@c3,5%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: @c2!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: darken(@c3,15%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a {
		&:hover{
			background: @c3;
		}
	}
	a,span{
		.transition(0.2s);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding: 0;
		width: 48px;
		height: 48px;
		line-height: 46px;
		margin: 0 0 10px;
		text-decoration: none;
		color: @c1;
		border: 1px solid #b2b2b2;
		&.first,&.prev,&.next,&.last {
			font-size: 37px;
			line-height: 37px;
			color: #fff;
			border-color: transparent;
			background: @c2;
			@media @xs {
				display: block;
				width: auto;
				margin-left: 0;
				margin-right: 0;
				&:before{
					display: none;
				}
			}
			&:hover{
				background: darken(@c2,5%);
			}
		}
		&.first, &.last {
			width: 56px;
			padding: 0 0 0 10px;
			&:before{
				content: '';
			 	position: absolute;
			 	top: -1px;
			 	left: -1px;
			 	border: 24px solid transparent;
			 	border-top-color: #fff;
			 	border-bottom-color: #fff;
			 	border-left-width: 0;
			 	border-right-width: 18px;
			 } 
		}
		&.last {
			padding: 0 10px 0 0;
			&:before{
				left: auto;
				right: -1px;
				border-right-width: 0;
				border-left-width: 18px;
			}
		}
		&.prev {
			margin-right: 15px;
		}
		&.next {
			margin-left: 15px;
		}
	}
	span.pagenav{
		color: #fff;
		border-color: transparent;
		font-weight: 900;
		background: @c1;
	}
	span.pagenav-ico,span.pagenav-ico:hover{
		cursor: default;
		border-color: transparent;
		background: lighten(@cp,80%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 14px;
	background: @c3;
}
img.img-left,img[align=left]{
	float: left;
	margin: 10px 50px 10px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 10px 0 10px 50px;
}
a.xeditorpopup {
	&:hover{
		img{
			background: @c2;
		}
	}
	img{
		.transition(0.2s);
		display: block;
		padding: 10px;
		background: @c3;
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		font-size: 15px;
		background: @c3;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		color: #fff;
		background: @c2;
	}
	.warning,.error{
		color: #fff;
		background: darken(red,20%);
	}
}
