@font-face {
  font-family: 'faber-icons';
  src: url('../font/faber-icons.eot?52028009');
  src: url('../font/faber-icons.eot?52028009#iefix') format('embedded-opentype'),
       url('../font/faber-icons.woff2?52028009') format('woff2'),
       url('../font/faber-icons.woff?52028009') format('woff'),
       url('../font/faber-icons.ttf?52028009') format('truetype'),
       url('../font/faber-icons.svg?52028009#faber-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'faber-icons';
    src: url('../font/faber-icons.svg?52028009#faber-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "faber-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-etc:before { content: '\e809'; } /* '' */
.icon-good:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-playmedia:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-wrench:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-view:before { content: '\e811'; } /* '' */
.icon-reset:before { content: '\e812'; } /* '' */
.icon-arr-right:before { content: '\e813'; } /* '' */
.icon-arrow-up:before { content: '\e814'; } /* '' */
.icon-arrow-right:before { content: '\e815'; } /* '' */
.icon-arrow-left:before { content: '\e816'; } /* '' */
.icon-arrow-down:before { content: '\e817'; } /* '' */
.icon-arr-left:before { content: '\e818'; } /* '' */
.icon-arr-down:before { content: '\e819'; } /* '' */
.icon-cr:before { content: '\e81a'; } /* '' */
.icon-book-add:before { content: '\e81b'; } /* '' */
.icon-arr-up:before { content: '\e81c'; } /* '' */
.icon-arr-thin-up:before { content: '\e81d'; } /* '' */
.icon-arr-thin-left:before { content: '\e81e'; } /* '' */
.icon-arr-thin-right:before { content: '\e81f'; } /* '' */
.icon-arr-thin-down:before { content: '\e820'; } /* '' */
.icon-check:before { content: '\e821'; } /* '' */
.icon-spin1:before { content: '\e822'; } /* '' */
.icon-dot:before { content: '\e823'; } /* '' */